<h2>About Me</h2>
<div id="about-me-container">
    <p id='p'><span class="bold blue">Hey there!</span> Thanks for visiting my website. Software Engineers usually use words like <span class="bold pink"> problem solver, 
        efficient, intelligent</span> to describe themselves. Although I consider myself all those things, I'd like to
        focus on less generic descriptions of myself to help you get a better understanding of who I am. After all, 
        most engineers I know possess those traits or they wouldn't be where they are.  
         <span class="bold pink">PASSIONATE, CREATIVE, RESILIENT, COMPASSIONATE, FUN-LOVING.</span> These are the words that describe who I am best.
        Being passionate about mathematics got me where I am today. I did not problem solve to get a paycheck (even though that was great
        motivation later in life) or simply because I had to. I started teaching myself calculus in middle school and took an interest in the why
        rather than the how. This love of mathematics is what jump-started my curiosity and creativity. I started asking why more often.
        And when no one could give me an answer, I created my own possibilities. The excitement of exploring logic and recognizing patterns contributed to my love of life. 
         Throughout life's twists and turns, I have motivated myself to push through hardships with a scientist's mindset of <span class="bold pink">"Life is bendable. There is always a way."</span><br><br>Yes, I love to code and write equations on whiteboards. But I also enjoy other activities in my free time. I love video games, art, music, travel, and spending 
        time with friends and family. If you are on this page, looking to offer me an opportunity, these are the reasons I would be good for the job: my work ethic and love for people. 
        My parents came to the United States from Jamaica as young adults to give my sister and I a better future. They have passed on how important it is to be hard worker. I credit most 
        of my accomplishments to them. I don't strive for the idea of a perfect career, perfect salary, perfect title. Many "make it to the top" thinking it will make them happy, just to 
        reach the end of the road unfulfilled. My goal in life is to pour resources into the Black community, mentor young women who are interested in technology and mathematics, and lift 
        up my friends, family, and coworkers.</p>
    <!--<img src="../../assets/images/transparent1.png"/>-->
    <div id="img"></div>
</div>
