<section class="title">
  <div class="bg" id="title"></div>
  <app-title></app-title>
</section>
<section class="normal">
  <div class="bg" id="about-me"></div>
  <app-aboutme></app-aboutme>
</section>
<section id="timeline">
  <app-timeline></app-timeline>
</section>
<!--<section class="normal">
  <div class="bg" id="next"></div>
  <h1>Skills</h1>
</section>-->
<section id="contact">
  <div id="filler"></div>
  <h1 id="contact-title">Contact</h1>
  <a href="https://www.linkedin.com/in/kayla-bartley-368bb9bb/" target="_blank"><div id="linkedin"></div></a>
  <p id="footer">Angular Website Created By Kayla Bartley</p>
</section>