<section class="title">
  <div class="bg"></div>
  <app-title></app-title>
</section>
<section class="normal">
  <div class="bg" id="next1"></div>
  <h1>Who am I?</h1>
</section>
<section class="normal">
  <div class="bg" id="next"></div>
  <h1>Skills</h1>
</section>
<section class="timeline">
  <!--<app-timeline></app-timeline>-->
</section>
<section class="normal">
  <div class="bg"></div>
  <h1>LOVING THE IMAGES</h1>
</section>
<section class="normal">
  <div class="bg"></div>
  <h1>NICE, RIGHT?</h1>
</section>